//////////////// 1. Light Colors /////////////////
$light-text-base-color: #000000;
$light-text-link: #ffffff;
$light-text-link-active: #000000;

$light-bg: #eaeaea;

//////////////// 2. Dark Colors /////////////////
$dark-text-base-color: #babdc4;
$dark-text-link: #cdcdcd;
$dark-text-link-active: #18aaaa;

$dark-bg: #0d122b;
