@mixin dark-mode {
  body {
    color: $dark-text-base-color;
    background-color: $dark-bg;
  }

  a{
    color: $dark-text-base-color;
    &:hover{
      color: $dark-text-link-active;
    }
  }
  table, table a{
    color: black;
  }
}



@media (prefers-color-scheme: dark) {
  html:not(.light) {
    @include dark-mode()
  }
}


