<footer class="footer">
    <p>Copyright © {{ .Site.Params.footerYear }} {{ .Site.Params.footerAuthor }}  {{ .Site.Params.footerICP }} 
        &nbsp;&nbsp;
        <a style="text-decoration-style: wavy;" href="https://github.com/BB-Code/nine-ghosts">Nine Ghosts</a>
        Forkme on Github
    </p>
</footer>
{{ $script_main := resources.Get "js/themeLoader.js" | minify | fingerprint }}
<script src="{{ $script_main.RelPermalink }}"></script>
{{ $theme := resources.Get "js/switchTheme.js" }}
<script src="{{ $theme.Permalink }}"></script>