<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description | htmlEscape }}">
    {{  $favicon := resources.Get "/img/favicon.ico" }}
    <link rel="icon" type="image/x-icon" href="{{  $favicon.RelPermalink  }}">
    {{   $fontawesome := resources.Get "/css/fontawesome.css" }}
    <link href="{{ $fontawesome.RelPermalink }}" rel="stylesheet" >
    {{   $iconTheme1 := resources.Get "/css/brands.css" }}
    <link href="{{ $iconTheme1.RelPermalink }}" rel="stylesheet" >
    <link href="{{ $fontawesome.RelPermalink }}" rel="stylesheet" >
    {{   $iconTheme2 := resources.Get "/css/solid.css" }}
    <link href="{{ $iconTheme2.RelPermalink }}" rel="stylesheet" >
    {{ with $style := resources.Get "/scss/main.scss" | resources.ToCSS (dict "targetPath" "/css/style.css") }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
    {{ end }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>

<title>

   {{ if .IsHome }}
     {{ .Site.Title | htmlEscape }}
   {{ else if .Page.Title }}
     {{ .Page.Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}
   {{ else }}
     {{ .Site.Title | htmlEscape }}
   {{ end }}
</title> 

